.courses__container {
	color: white;
	line-height: 2rem;
}

.courses__container ul {
	margin-left: 2rem;
	line-height: 2rem;
}

.carousel__container button {
	background: white !important;
}

.carousel__container .slick-active button {
	background: white !important;
}
