#root {
	width: 100%;
	height: 100%;
}

#sider {
	background-color: white;
	flex: none !important;
	width: auto !important;
	min-width: 0 !important;
	max-width: none !important;
}

.ant-space-item {
	width: 100%;
}

span {
	word-wrap: break-word;
}

.type::after {
	content: "_";
	animation: cursor 1.1s infinite step-start;
}

@keyframes cursor {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.ant-list-item {
	padding: 0 !important;
}

.ant-collapse-header {
	padding: 5px 10px !important;
}

.ant-collapse-content-box {
	padding-block: 0 !important;
}

.ant-card-head-title {
	display: flex !important;
	justify-content: center !important;
}

.ant-row {
	justify-content: center;
}

.ant-list-item-meta-avatar {
	margin-inline-end: 0 !important;
}

.button__container--gradient button {
	background: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
}

.button__container--gradient button:hover {
	background: linear-gradient(315deg, #fce043 0%, #fb7ba2 100%);
}

.button__container button {
	background: #845ae2;
}

.button__container button:hover {
	background: #ac86ff !important;
}

.courses-menu__container .ant-menu-item-selected,
.courses-menu__container .ant-menu-item-selected::after {
	border-bottom-color: white !important;
}

/* Atomic */

.center-text {
	text-align: center;
}

.white-bg {
	background-color: white;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.disable-hover-bg:hover {
	background-color: transparent !important;
}

.no-border-bottom {
	border-bottom: none !important;
}

.no-margin {
	margin: 0 !important;
}

.padding-right-10 {
	padding-right: 10px;
}

.padding-top-5rem {
	padding-top: 5rem;
}

.padding-bottom-5rem {
	padding-bottom: 5rem;
}

.padding-left-5rem {
	padding-left: 5rem;
}

.padding-right-5rem {
	padding-right: 5rem;
}

.text-justify {
	text-align: justify;
}

.custom-bg {
	background-color: #d9cfbb;
}

.no-padding {
	padding: 0 !important;
}

.custom-bg_1 {
	background-color: #6a4f73;
}
